/* ========================== */
/* 🔹 SEÇÃO DO ARTIGO  INFORMATIVO */
/* ========================== */

.section-history {
    width: 100%;
    background: #e5faff;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.content-history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.image-history {
    flex: 1 1 10%;
    min-width: 280px;
}

.image-history img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.article-text-history {
    flex: 1 1 50%;
    min-width: 300px;
    padding: 0 1rem;
    color: rgb(35, 100, 112);
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.article-text-history p {
    margin-bottom: 1.0rem;
}

.article-text-history h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(35, 100, 112);
    font-weight: bolder;
    text-align: start;
}

/* 🎯 ZIGUE-ZAGUE: inverte blocos pares */
.content-history:nth-child(even) {
    flex-direction: row-reverse;
}

.history-title {
    text-align: start;
    margin-bottom: 4rem;
    position: relative;
}

.history-title h1 {
    display: inline-block;
    font-size: 2.5rem;
    color: #0a3950;
    box-shadow: -8px 0 0 #00cc66;
    padding-left: 10px;
    /* background: #e9f2f9; */
    /* sombra lateral verde à esquerda */
    /* border-radius: 8px; */
}






.article-section {
    width: 100%;
    background-color: #e9f2f9;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.article-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.article-image {
    flex: 1 1 40%;
    min-width: 300px;
}



.article-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.article-text {
    flex: 1 1 50%;
    min-width: 300px;
    padding: 0 1rem;
    color: #0a3950;
}

.article-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #003366;
}

.article-text p {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.btn-primary {
    display: inline-block;
    background-color: #007acc;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #005f99;
}