/* ========================== */
/* 🔹 SEÇÃO DO ARTIGO  UNIDADES */
/* ========================== */



.section-units {
    width: 100%;
    background: #003366;
    padding: 4rem 2rem;
    box-sizing: border-box;
    color: #ffffff;
}

.container-units {
    max-width: 1200px;
    margin: 0 auto;
}

.unity-text-title {
    text-align: center;
    margin-bottom: 3rem;
}

.unity-text-title h1 {
    color: #eead2d;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.unity-text-title p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: start;
    text-align: justify;
}

.unity-text-title h2 {
    margin-top: 2rem;
    color: aqua;
    font-size: 2.5rem;
}

.containers-clinicas-unity {
    background-color: #f2fbff;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.clinica {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.clinica h3 {
    color: #003366;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.clinica h2 {
    color: #0457aa;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.clinica h4 {
    color: #005588;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.clinica p {
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.6;
}

/* 
.whatsapp-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
}

.whatsapp-contact .whatsapp-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* Estilo do link */
/* .whatsapp-contact a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

/* Hover verde tipo WhatsApp */
/* .whatsapp-contact a:hover {
    color: #25D366;
} */
.btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #25D366;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #1ebe5d;
}

.btn-whatsapp .whatsapp-icon {
    width: 25px;
    height: 25px;
}

.contato-flex {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.personagem-callcenter {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.contato-info {
    flex: 1;
}

.mapa-unidade {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.texto-localizacao {
    display: flex;
    align-items: center;
    gap: 8px;
    font-style: italic;
    color: #2a4f6e;
    margin: 1rem 0 0.5rem;
}

.map-icon {
    width: 20px;
    height: 20px;
}

.bloco-contato {
    background-color: #e9f9f0;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    border-left: 6px solid #25D366;
}

.bloco-contato h4 {
    color: #1e5e3f;
    margin-bottom: 0.5rem;
}



/* ========================== */
/* 🔹 SEÇÃO DO ARTIGO HISTORIA */
/* ========================== */

.section-history {
    width: 100%;
    background: #e5faff;
    padding: 4rem 2rem;
    box-sizing: border-box;
}


.content-history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.image-history {
    flex: 1 1 10%;
    min-width: 280px;
    position: relative;
    overflow: visible;

}

.image-history img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.image-history img:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

.content-history:nth-child(even) .image-history img {
    transform: translateX(20px);
}

.scroll-animate {
    animation: floatFromSide 1.2s ease forwards;
    /* antes era 0.6s */
}

@keyframes floatFromSide {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.article-text-history {
    flex: 1 1 50%;
    min-width: 300px;
    padding: 0 1rem;
    color: rgb(35, 100, 112);
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.article-text-history p {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.article-text-history h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: rgb(35, 100, 112);
    font-weight: bolder;
    text-align: start;
}

.content-history.reverse {
    flex-direction: row-reverse;
}

.history-title {
    text-align: start;
    margin-bottom: 4rem;
    position: relative;
}

.history-title h1 {
    display: inline-block;
    font-size: 2.5rem;
    color: #0a3950;
    box-shadow: -8px 0 0 #00cc66;
    padding-left: 10px;
    /* background: #e9f2f9; */
    /* sombra lateral verde à esquerda */
    /* border-radius: 8px; */
}

.line-history {
    width: 100%;
    height: 0.4rem;
    background-color: #0a3950;
    margin: 2rem 0;

}


/* ========================== */
/* 🔹 SEÇÃO DO ARTIGO INFORMATIVO */
/* ========================== */



.article-section {
    width: 100%;
    background-color: #e9f2f9;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.article-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.article-image {
    flex: 1 1 40%;
    min-width: 300px;
}

.article-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.3s ease;

}

.article-text {
    flex: 1 1 50%;
    min-width: 300px;
    padding: 0 1rem;
    color: #0a3950;
}

.article-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #003366;
}

.article-text p {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.btn-primary {
    display: inline-block;
    background-color: #007acc;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #005f99;
}

/* Section - Services */

.section-services {
    width: 100%;
    background-color: #005f99;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    box-sizing: border-box;

}

.article-services {
    display: flex;
    /* background-color: #2a4f6e; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    /* margin: 100px; */
    height: 80vh;

}

.article-services h2 {
    width: 100%;
    text-align: center;
    color: #003366;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.list-services ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-between;
}

.list-services ul li {
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(100, 180, 255, 0.4);
    font-size: 1.2rem;
    color: #ffffff;
    list-style: none;
    text-align: center;
}

#laboratorial {
    position: relative;
    padding-bottom: 1.5rem;
    /* afasta o texto da seta */
    overflow: visible;
    /* importante caso seja li dentro de container com overflow oculto */
}

/* 2. Cria o triângulo apontando para baixo */
#laboratorial::after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* joga um pouco para fora do li */
    left: 15%;
    /* centraliza horizontalmente */
    transform: translateX(-50%);
    width: 0px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    /* cor da seta: branco (ou troque para outra) */
}

#information {
    position: relative;
    top: -35px;
    box-shadow: none;
    font-style: italic;
    right: 20px;
}


@media screen and (max-width:740px) {


    /* INFORMATIVO */
    .article-text h2 {
        font-size: 1.8rem;
    }

    .article-text p {
        font-size: 1.1rem;
    }

    .history-title h1 {
        font-size: 2rem;
    }

    .article-text-history h2 {
        font-size: 2rem;
    }


    .article-text-history p {
        font-size: 1.2rem;
    }


    /* UNIDADES */


    .unity-text-title h1 {
        font-size: 2.5rem;

    }


    .unity-text-title p {
        font-size: 1rem;
    }

    .unity-text-title h2 {

        font-size: 1.4rem;
    }

    .clinica {
        padding: 1rem;
    }

    .clinica h3 {
        font-size: 1.3rem;
    }

    .clinica h2 {
        font-size: 1.3rem;
    }

    .clinica h4 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .clinica p {
        font-size: 1.0rem;

    }

    .contato-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .personagem-callcenter {
        width: 80px;
        margin-bottom: 1rem;
    }

    .contato-info h4 {
        font-size: 1.4rem;
    }

    .btn-whatsapp {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .whatsapp-icon {
        width: 20px;
        height: 20px;
    }

    .mapa-unidade iframe {
        height: 250px;
    }
}