/* ========================== */
/* 🔹 RESPONSIVIDADE MOBILE   */
/* ========================== */
@media screen and (max-width:740px) {

    .hamburger {
        display: block;
        position: absolute;
    }

    nav {
        flex-direction: column;
    }

    nav ul#nav-links {
        display: none;
        margin-bottom: 50px;
        font-size: 1.1rem;
    }

    .banner {
        height: 60vh;
    }

    .banner-left h4 {
        font-size: 1rem;
    }

    .banner-left h1 {
        font-size: 2rem;
    }

    .banner-left h3 {
        font-size: 1rem;
    }

    .banner-left h2 {
        font-size: 1.8rem;
    }

    .footer-left,
    .footer-right {
        justify-content: center;
    }

    .article-text h2 {
        font-size: 1.8rem;
    }

    .article-text p {
        font-size: 1.1rem;
    }

    .history-title h1 {
        font-size: 2.0rem;
    }

    .history-title h2 {
        font-size: 1.8rem;
    }

    .history-title p {
        font-size: 1.0rem;
    }


    .unity-text-title h1 {
    font-size: 2.5rem;
   
}

.unity-text-title p {
    font-size: 1.3rem;
}
.unity-text-title h2 {
   
    font-size: 2.0rem;
}

.clinica h3 {
    font-size: 2rem;
}

.clinica h4 {
    font-size: 1.8rem;
}

.clinica p {
    font-size: 1.2rem;
    
}
}